
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<a href="/User/SignUp" class="btn btn-dark">Kayıt Ol</a>
<a href="/User/Login" class="btn btn-dark">Giriş Yap</a>


