@{
    ViewData["Title"] = "SingIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Register-Area -->
<section id="login_area" class="ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-12">
                <div class="account_form">
                    <h3>Register</h3>
                    <form id="registrationForm">
                        <div class="default-form-box">
                            <label>Name <span>*</span></label>
                            <input type="text" class="form-control" id="txtName">
                        </div>
                        <div class="default-form-box">
                            <label >Surname <span>*</span></label>
                            <input type="text" class="form-control" id="txtSurname">
                        </div>
                        <div class="default-form-box">
                            <label >Username <span>*</span></label>
                            <input type="text" class="form-control" id="txtUserName">
                        </div>
                        <div class="default-form-box">
                            <label>Email <span>*</span></label>
                            <input type="email" class="form-control" id="txtEmail">
                        </div>
                        <div class="default-form-box">
                            <label>Passwords <span>*</span></label>
                            <input type="password" class="form-control" id="passPassword">
                        </div>
                        <div class="default-form-box">
                            <label>Password Confirm <span>*</span></label>
                            <input type="password" class="form-control" id="passConfirmed">
                        </div>
                        <div class="default-form-box">
                            <label>Address <span>*</span></label>
                            <input type="text" class="form-control" id="txtAddress">
                        </div>                                                
                        <div class="default-form-box">
                            <label>Phone Number <span>*</span></label>
                            <input type="tel" class="form-control" id="telPhoneNumber">
                        </div>
                        <div class="login_submit">
                            <button class="theme-btn-one btn-black-overlay btn_md" type="submit" id="btnSave">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(function () {
            $("#registrationForm").submit(function (event) {
                event.preventDefault();
                
                const data = {
                    user : {
                        name: $("#txtName").val(),
                        surname: $("#txtSurname").val(),
                        phoneNumber: $("#telPhoneNumber").val(),
                        address: $("#txtAddress").val(),
                        userName: $("#txtUserName").val(),
                        email: $("#txtEmail").val(),
                        password: $("#passPassword").val(),
                        repeatPassword: $("#passConfirmed").val()
                    }
                }

                $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

                $.post('/User/SignUp', data)
                    .done(function (response) {
                        if (response.isOk) {
                            window.location.href = "/User/Login";
                            console.log("Başarılı");
                        }
                    })
                    .fail(function (error) {
                        console.error("Error during login: ", error);
                    });

            });
        });
    </script>
}