
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Emreraslan.Web.Models.ProductDto
<!-- Add Product Area -->
<section class="ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="add_product_wrapper">
                    <div class="back_to_area">
                        <a href="/VendorPanel/Dashboard/Index"><i class="fas fa-long-arrow-alt-left"></i> Back To Dashboard</a>
                    </div>
                    <h3>Add Product</h3>
                    <form asp-area="VendorPanel" asp-controller="AddProduct" asp-action="UploadPhoto" method="post"  enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="image-input">
                                    <img src="~/assets/img/product-image/product1.png" class="image-preview"
                                         alt="img">
                                    <input type="file" accept="image/*" id="imageInput" asp-for="ProductPhoto">
                                    <label for="imageInput" class="image-button">
                                        <i class="far fa-image"></i>Choose image
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="fotm-group">
                                    <label for="product_name">Product Name*</label>
                                    <input type="text" id="txtName" class="form-control"
                                           placeholder="" asp-for="Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="fotm-group">
                                    <label for="product_price">Product Price*</label>
                                    <input type="number" id="numPrice" class="form-control" placeholder="" asp-for="Price">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="fotm-group">
                                    <label for="product_brand">Brand*</label>
                                    <input type="text" id="txtBrand" class="form-control"
                                           placeholder="" asp-for="Brand">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="fotm-group">
                                    <label for="product_desc">Description*</label>
                                    <input type="text" id="txtDesc" class="form-control"
                                           placeholder="Write about the product features" asp-for="Description">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="fotm-group">
                                    <label for="product_colour">Colour*</label>
                                    <input type="text" id="txtColour" class="form-control"
                                           placeholder="" asp-for="Colour">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="fotm-group">
                                    <label for="product_size">Discount(%)</label>
                                    <input type="number" id="numDisc" class="form-control"
                                           placeholder="" asp-for="Discount">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="fotm-group">
                                    <label for="available_stock">Available Stock (Quantity)*</label>
                                    <input type="number" id="numStock" class="form-control" placeholder="" asp-for="Stock">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="btn_right_table">
                                    <button class="theme-btn-one bg-black btn_sm" type="submit">Add Product</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script src="~/assets/js/img-upload.js"></script>

@*     <script>
        $(function () {

            $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

            $("#addProdForm").submit(function (e) {
                e.preventDefault();

                var formData = new FormData();
                var file = $("#imageInput")[0].files[0];
                formData.append("photo", file);

                $.ajax({
                    url: '@Url.Action("UploadPhoto", "AddProduct")',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (resp) {

                        if(resp.isOk){
                            const data = {
                                prod: {
                                    name: $("#txtName").val(),
                                    price: $("#numPrice").val(),
                                    brand: $("#txtBrand").val(),
                                    description: $("#txtDesc").val(),
                                    colour: $("#txtColour").val(),
                                    discount: $("#numDisc").val(),
                                    stock: $("#numStock").val(),
                                    photopath: resp.path
                                }
                            };

                            $.post('/VendorPanel/AddProduct/Index', data)
                                .done(function (resp) {
                                    if (resp.isOk) {
                                        alert(resp.message);
                                        console.log(resp.message);
                                    }
                                });    
                                
                        }
                        else{
                            console.log(resp.message);
                        }
                    }                   
                });

            });
        });
    </script> *@

}                                