
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/UserPanel/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="myaccount-content">
        <h4 class="title">Dashboard </h4>
        <p>
            From your account dashboard. you can easily check &amp; view your <a href="#">
                recent
                orders
            </a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">Edit your password and account details.</a>
        </p>
    </div>
</div>

<div class="tab-pane fade show" id="orders">
    Emre eraslan
</div>

