
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/UserPanel/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col-lg-6">
            <div class="myaccount-content">
                <h4 class="title">Billing Address</h4>
                <div class="billing_address">
                    <h5><strong>Alex Porty</strong></h5>
                    <p>
                        1234 Market ##, Suite 900 <br>
                        Lorem Ipsum, ## 12345
                    </p>
                    <p>Mobile: (123) 123-456789</p>
                    <a href="account-info-edit.html" class="theme-btn-one bg-black btn_sm">
                        Edit
                        Address
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="myaccount-content">
                <h4 class="title">Shipping Address</h4>
                <div class="billing_address">
                    <h5><strong>Alex Porty</strong></h5>
                    <p>
                        1234 Market ##, Suite 900 <br>
                        Lorem Ipsum, ## 12345
                    </p>
                    <p>Mobile: (123) 123-456789</p>
                    <a href="account-info-edit.html" class="theme-btn-one bg-black btn_sm">
                        Edit
                        Address
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

