
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/UserPanel/Views/Shared/_Layout.cshtml";
}

@model List<Emreraslan.Core.Entities.Order>

<div>
    <div class="myaccount-content">
        <h4 class="title">Orders </h4>
        <div class="table_page table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int num = 1;
                        foreach(var order in @Model)
                        {
                            <tr>
                                <td>@num</td>
                                <td>@order.CreatedDate</td>
                                <td><span class="success">Not Completed</span></td>
                                <td>@order.TotalPrice ₺</td>
                                <td>@order.Discount ₺</td>
                                <td><a href="/UserPanel/Order/DeleteOrder/@order.Id" class="view">Cancel the order</a></td>
                            </tr>
                            num++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

